.mobile_menu_container {
  --border-weight: 4px;
  background-color: var(--light-color-1);
  width: 100%;
  max-width: calc(1440px - 20px);
  border-radius: var(--border-radius-2);
  padding: calc(40px - var(--border-weight)) 20px 60px 20px;
  border: var(--border-weight) solid var(--dark-color-1);
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.logo {
  text-decoration: none;
  color: inherit;
  font-size: 32px;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.button_logo_wrapper {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  justify-content: center;
}

.button_logo_wrapper > a {
  justify-self: center;
}
