.card {
  width: 314px;
  height: 210px;
  perspective: 500px;
  transform: translate(0px, 35px);
}

.card > picture {
  width: 100%;
  height: 100%;
  display: block;
  transform: rotateY(13deg);
}

@media screen and (min-width: 1440px) {
  .card {
    transform: translate(20px, 165px);
    width: 515px;
    height: 486px;
  }
}
