.header {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo_link {
  display: block;
  justify-self: center;
  position: relative;
  font-size: var(--text-size-6);
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

.primary_btn {
  composes: hidden;
  justify-self: flex-end;
}

@media screen and (min-width: 1440px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
  }

  .logo_link {
    font-size: var(--text-size-12);
    transform: translate(0);
  }

  .hidden {
    display: block;
  }
}
