.item {
  width: 100%;
  max-width: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 8px;
  border-radius: var(--border-radius-1);
  background-color: var(--light-color-1);
  overflow: hidden;
  @media screen and (min-width: 1440px) {
    max-width: 439px;
    row-gap: 20px;
    padding: 31px 20px 31px 20px;
  }
}

.quantity {
  color: var(--red-color-1);
  font-size: var(--text-size-8);
  font-family: 'MusticaPro', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  @media screen and (min-width: 1440px) {
    font-size: var(--text-size-10);
    line-height: 0.7058;
  }
}

.item_name {
  color: var(--dark-color-1);
  font-size: var(--text-size-2);
  font-family: 'MusticaPro', sans-serif;
  font-weight: 600;
  line-height: 1;
  @media screen and (min-width: 1440px) {
    font-size: var(--text-size-7);
    line-height: 1.4117;
  }
}
