@import 'normalize.css/opinionated.css';

:root {
  --light-color-1: #f7f5f5;
  --red-color-1: #e3000b;
  --dark-color-1: #171313;
  --gray-color-1: #606060;
  --text-size-1: 16px;
  --text-size-2: 20px;
  --text-size-3: 22px;
  --text-size-4: 24px;
  --text-size-5: 28px;
  --text-size-6: 32px;
  --text-size-7: 34px;
  --text-size-8: 40px;
  --text-size-9: 48px;
  --text-size-10: 68px;
  --text-size-11: 120px;
  --text-size-12: 60px;
  --border-radius-1: 24px;
  --border-radius-2: 40px;
  --border-radius-3: 100px;
  --border-radius-4: 50%;
  --scroll-bar-height: 20px;
}

@font-face {
  font-family: 'Transforma Mix';
  src: url('./assets/font/transforma_mix/TransformaMix-Variable.ttf');
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'MusticaPro', sans-serif;
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
  margin: 0;
}
